* {
  font-family: Inter, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  /* background-color: #efefef; */
  color: #202020;
  /* Background */
  background: linear-gradient(135deg, #ff003c, #0066ff);
  background-size: 300% 300%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  height: 6rem;
  position: fixed;
  width: calc(100vw - 3rem);
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

.nav-left {
  margin-left: 2rem;
}

.nav-right {
  margin-left: auto;
  margin-right: 2rem;
}

nav a {
  font-size: 1.25rem;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  display: inline-block;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  transform: scale(1.05);
}

nav a:active,
nav a.active {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  transform: scale(0.95);
}

.content {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* Apply blur effect on top of background */
  background: rgba(255, 255, 255, 0.7);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* Transition */
}

.pane {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38vw;
  padding-right: 62vw;
  scroll-snap-align: start;
  text-align: center;
  padding: 1rem;
}

.side-pane {
  width: 60vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}

.side-pane-viz {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  width: 60vw;
  transition: opacity 0.25s;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

/* animation for waving hand */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: wave 2s infinite;
}

.wave img {
  width: 40%;
  height: auto;
}

a {
  color: #113355;
  text-decoration: none;
  transition: color 0.25s, transform 0.25s;
  display: inline-block;
}

a:hover {
  color: #113388;
  text-decoration: underline;
  transform: scale(1.01);
}

a:active {
  color: #1155aa;
  transform: scale(0.99);
}

a.button {
  background-color: #101010;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
}

a.button:hover {
  background-color: #303030;
  transform: scale(1.05);
}

a.button:active {
  background-color: #000;
  transform: scale(0.95);
}

.nav-height {
  padding-top: 8rem;
}
