* {
  font-family: Inter, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242028;
  color: #fff;
}

p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.main-pane {
  width: 40vw;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.side-pane {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.side-pane-viz {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  width: 60vw;
  transition: opacity 0.25s;
}

.pane {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-nag {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: calc(100vw / 2 - 112px);
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
}

@keyframes movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-nag-in {
  animation: movement 2s infinite;
  opacity: 1;
  transition: opacity 0.25s;
}

.scroll-nag-out {
  opacity: 0;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation: wave 2s infinite;
}
