* {
  font-family: Inter, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242028;
  color: #fff;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.main-pane {
  width: 40vw;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.side-pane {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pane {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}