.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #cdcdcd;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  margin-top: calc(50vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-text p {
  font-size: 2.5rem;
  color: #000;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.loading-animation {
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 50%;
  background: rgb(0, 234, 255);
  background: radial-gradient(
    circle,
    rgb(0, 234, 255) 0%,
    rgba(0, 234, 255, 0) 50%
  );
  animation: grow 1.5s infinite;
}

@keyframes loading-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.25);
  }
}

.loading-out {
  animation: loading-out 0.5s forwards;
  pointer-events: none;
}

@keyframes content-in {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.content-in {
  animation: content-in 0.5s forwards;
}

@media (prefers-color-scheme: dark) {
  .loading {
    background-color: #292929;
  }

  .loading-text p {
    color: #efefef;
  }
}
